@using PagedList.Mvc
@model PagedList.IPagedList<CrudMVC.Models.employee>


@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js"></script>


    <style>

        .jumbotron {
            background-color: #0275d8;
            color: white;
            margin-top: 10px;
        }

        .glyphicon1 {
            font-size: 20px;
            margin-left: 20px;
            margin-right: 20px;
        }

        #emptable {
            text-align: center;
        }

        .glyphicon-trash {
            color: red;
        }

        .hovering i::before {
            display: none;
        }

        .hovering:hover i::before {
            display: block;
        }

        .btnAdd {
            margin-left: 10px;
            margin-bottom: 20px;
        }

        .modal-title {
            font-weight: bold;
        }

        .bar {
            font-size: 20px;
            color: #0275d8;
        }

        .alert {
            width: 50%;
            margin: 0 auto;
        }
        
    </style>


</head>

<body>

    <div class="container con">
        <div class="jumbotron text-center">
            <h1>Employee Record</h1>
        </div>
    </div>

    <div class="container-fluid" style="margin-bottom:20px;">

        <div class="row">
            @using (Html.BeginForm("Employee","Employee",FormMethod.Get))
            {
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-6">
                            
                            <input type="text" placeholder="Search By Name" name="searchString" class="form-control" style="max-width:100%;" />
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
                        </div>
                    </div>
                </div>
            }
        </div>


    </div>

    <button type="button" id="btnadd" class="btnAdd btn-primary py-4 btn-lg">+ Add Record</button>

    <table id="emptable" class="table table-striped table-hover table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Name", "Employee", new { page = Model.PageNumber, sortOrder = ViewBag.NameSortParm })
                </th>
                <th style="text-align:center;">Age</th>
                <th style="text-align:center;">Hire Date</th>
                <th style="text-align:center;">Salary</th>
                <th style="text-align:center;">Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FullName</td>
                    <td>@item.Age</td>
                    <td>@item.StartDate.Value.ToShortDateString()</td>
                    <td>@item.Salary</td>
                    <td>

                        <a href=""><i class="glyphicon glyphicon-pencil glyphicon1"></i></a>
                        <span class="bar">|</span>
                        <a href="@Url.Action("Delete","Employee",new { item.ID})"><i class="glyphicon glyphicon-trash glyphicon1"></i></a>


                    </td>
                </tr>
            }

        </tbody>

    </table>
    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount
        </div>
        <div class="pagination" style="margin-left: 400px">
            @Html.PagedListPager(Model, page => Url.Action("Employee", new { page }))
        </div>
    </div>
    
    @section Scripts{

        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap.min.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


    }

</body>
</html>







